Given “Employee” table below:

| id  | Name  | Salary | Manager_id |
|-----|-------|--------|------------|
| 1   | John  | 300    | 3          |
| 2   | Mike  | 200    | 3          |
| 3   | Sally | 550    | 4          |
| 4   | Jane  | 500    | 7          |
| 5   | Joe   | 600    | 7          |
| 6   | Dan   | 600    | 3          |
| 7   | Phil  | 550    | NULL       |
| ... | ...   | ...    | ...        |

### a. Give the name of employees, whose salaries are greater than their immediate manager’s
### b. What is the average salary of employees who do not manage anyone? In the sample above, that would be John, Mike, Joe and Dan, since they do not have anyone reporting to them

In [1]:
import pandas as pd

In [2]:
# create dictionary of employee data and initialize dataframe, df
# Set Null value as 0

data = {"id": [1,2,3,4,5,6,7], "Name": ["John", "Mike", "Sally", "Jane", "Joe", "Dan", "Phil"], "Salary": [300, 200, 550, 500, 600, 600, 550], "Manager_id": [3, 3, 4, 7, 7, 3, 0]}
df = pd.DataFrame(data=data).set_index("id", drop= True)
df.head()

     Name  Salary  Manager_id
id
1    John     300           3
2    Mike     200           3
3   Sally     550           4
4    Jane     500           7
5     Joe     600           7

In [3]:
# Create a helper function to compare salaries
# If Manager_id == 0 (Does not have manager): return False
# Else: compare salary with manager's salary using df.loc[manager_id, "Salary"]
def compareSalary(x):
    if x.Manager_id == 0:
        return False
    else:
        return x.Salary > df.loc[x.Manager_id, "Salary"]

In [4]:
# Apply the helper function into the dataframe, set axis = 1 to apply function on rows
# get the value and create a list to store the answer under "result"
# print answer
result = df[df.apply(compareSalary, axis=1)]['Name'].values.tolist()
print(f"The following employees have salaries higher than their immediate managers': {result}")

The following employees have salaries higher than their immediate managers': ['Sally', 'Joe', 'Dan']

## Q1a: The following employees have salaries higher than their immediate managers': ['Sally', 'Joe', 'Dan']
---

In [5]:
# Create column "is_manager" and set all to False
df['is_manager'] = False

# Iterate through each row and find the employee's corresponding manager and set "is_manager" to True
for index, row in df.iterrows():
    df.loc[row.Manager_id, "is_manager"] = True

# Find average salary of non-managerial employees 
average_salary = df[df.apply(lambda x: x.is_manager == False, axis=1)].Salary.mean()
print(f"The average salary of employees who do not manage anyone: ${average_salary}")

The average salary of employees who do not manage anyone: $425.0

## Q1b: The average salary of employees who do not manage anyone: $425.0
---